.image-details img{

    width: 500px
    
}

.image-details p {
    margin-top: 40px;
}

.image-details button {
    margin-top: 20px;
    border-radius: 10%;
    margin-bottom: 30px;
}
.image-details {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: blue;

}

.image-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}